<!-- 
    File: skills.ejs
    Author: Wendall Hsu 300739743
    Website: Wendall Hsu's Portfolio
    Description: My Skills page of portfolio
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Wendall Hsu - Portfolio - COMP308 Assignment 1 - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background-color: #eee;">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">My Projects</a></li>
            <li class="active"><a href="/skills">My Skills</a></li>
            <li><a href="/contact">Contact Me</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
     <div class="jumbotron">
      <div class="container" style="padding-left:100px; padding-right:100px">
        <h1 style="margin-top:75px; text-align:center">My Skills</h1>
        <br><br>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="text-align:center; padding-bottom:100px">
                        <h2>Languages</h2>
                        <br><br>
                        <span>
                            <img src="images/languages/csharp.png" style="margin-left:15px">
                            <img src="images/languages/java.png" style="margin-left:15px; margin-right:15px">
                            <img src="images/languages/js.png" style="margin-left:15px; margin-right:15px">
                            <img src="images/languages/sql.png" style="margin-left:15px; margin-right:15px">
                        </span>
                    </div>
                    <div class="item" style="text-align:center; padding-bottom:100px">
                        <h2>Software Development</h2>
                        <br><br>
                        <span>
                            <img src="images/development/agile.png" style="margin-left:25px; margin-right:25px">
                            <img src="images/development/oop.jpg" style="margin-left:25px; margin-right:25px">
                            <img src="images/development/uml.png" style="margin-left:25px; margin-right:25px">
                        </span>
                    </div>
                    <div class="item" style="text-align:center; padding-bottom:100px">
                        <h2>Tools</h2>
                        <br><br>
                        <span>
                            <img src="images/tools/office.png" style="margin-left:25px; margin-right:25px">
                            <img src="images/tools/vs.png" style="margin-left:25px; margin-right:25px">
                        </span>
                        <br><br><br><br>
                        <span>   
                            <img src="images/tools/appc.png" style="margin-left:25px; margin-right:25px">
                            <img src="images/tools/android.png" style="margin-left:25px; margin-right:25px">
                            <img src="images/tools/eclipse.png" style="margin-left:25px; margin-right:25px">
                        </span>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
      </div>
    </div><!-- /.container -->

    <footer class="container-fluid text-center">
    	    <p>&copy; 2015 Wendall Hsu</p>
    </footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
